<section class="work-page__skill-set" id="skill">

    <h2>Skill-Set</h2>
    <div class="work-page__skill-set--technologies">

        <ng-container *ngFor="let skill of skills; let i = index">

            <div class="work-page__skill-set--technology-item">
                <ng-icon [name]="skill.iconName" [size]="'40px'" color="#fff"></ng-icon>
                <span>{{skill.technologyName}}</span>
                <p>{{skill.skillDescription}}</p>

            </div>
        </ng-container>
    </div>
</section>