<section class="work-page__skill-set">

    <h2>Skill-Set</h2>
    <div class="work-page__skill-set--technologies">

        <div class="work-page__skill-set--technology-item">
            <ng-icon name="ionLogoGithub" [size]="'40px'" color="#fff"></ng-icon>
            <span>Github Version Control</span>
            <p>TIt is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>

        </div>
        <div class="work-page__skill-set--technology-item">
            <ng-icon name="ionLogoGithub" [size]="'40px'" color="#fff"></ng-icon>
            <span>Github Version Control</span>
            <p>TIt is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>

        </div>
        <div class="work-page__skill-set--technology-item">
            <ng-icon name="ionLogoGithub" [size]="'40px'" color="#fff"></ng-icon>
            <span>Github Version Control</span>
            <p>TIt is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>

        </div>
        <div class="work-page__skill-set--technology-item">
            <ng-icon name="ionLogoGithub" [size]="'40px'" color="#fff"></ng-icon>
            <span>Github Version Control</span>
            <p>TIt is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>

        </div>
        <div class="work-page__skill-set--technology-item">
            <ng-icon name="ionLogoGithub" [size]="'40px'" color="#fff"></ng-icon>
            <span>Github Version Control</span>
            <p>TIt is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>

        </div>
        <div class="work-page__skill-set--technology-item">
            <ng-icon name="ionLogoGithub" [size]="'40px'" color="#fff"></ng-icon>
            <span>Github Version Control</span>
            <p>TIt is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>

        </div>
    </div>
</section>