<section class="work-page__intro">
    <div class="work-page__content">
        <div class="work-page__aboutme">
            <span class="work-page__tag">Gabriel Barbosa</span>
            <h1>Hey! I'm Gabriel</h1>
            <h2>I'm a developer</h2>
            <p>A seasoned software developer with 7 years of experience crafting innovative solutions, I've honed my
                skills at industry giants like IBM and other leading companies.</p>

            <div class="work-page__social-media">
                <a class="work-page__social-media--linkedin"
                    href="https://www.linkedin.com/in/gabriel-barbosa-de-oliveira/" target="_blank">
                    <ng-icon name="ionLogoLinkedin" [size]="'20px'" color="#fff"></ng-icon>
                </a>
                <a class="work-page__social-media--instagram" href="https://www.instagram.com/gab_barbosa_/"
                    target="_blank">
                    <ng-icon name="ionLogoInstagram" [size]="'20px'" color="#fff"></ng-icon>
                </a>
                <a class="work-page__social-media--vercel" href="https://github.com/Gabriel-Barbosa-de-Oliveira"
                    target="_blank">
                    <ng-icon name="ionLogoGithub" [size]="'20px'" color="#fff"></ng-icon>
                </a>
            </div>
        </div>
        <div class="work-page__picture">
            <img src="assets/images/me.png" alt="Gabriel Barbosa Picture" />
        </div>
    </div>

</section>