.work-page__intro {
    padding: 100px 32px 0 32px;
}

.work-page__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    text-transform: uppercase;

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 50px;
        color: $secondaryFontColor
    }
}

.work-page__tag{
    display: flex;
    // border: 1px solid rgba(7,136,255,.2);
    align-items: center;
    justify-content: center;
    background-color: rgba(7,136,255,.2);
    width: 145px;
    padding: 8px;
    border-radius: 4px;
}

.work-page__aboutme {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}