$backgroundColor: linear-gradient(90deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
$defaultFontColor: #fff;
$secondaryFontColor: #0788ff;
$highlitedBackgroundColor: rgb(4, 12, 22);
// box-shadow: rgba(55, 55, 55, 0.075) 0px 0.125rem 0.25rem;